.carousel5 {
  min-width: 900px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
}

.sections5 {
  display: none;
}

.controls5 {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  bottom: 0;
}

.controls5:first-of-type {
  justify-content: flex-end;
}

.controls5:last-of-type {
  justify-content: flex-start;
}

.controlLooks5 {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #3d414a;
  border-radius: 100%;
  box-shadow: 0 2px 10px 0 rgba(33, 34, 36, 0.3);
  font-size: 34px;
  height: 96px;
  justify-content: center;
  transition: 0.3s all;
  width: 96px;
  z-index: 1;
}

.sections5:nth-of-type(1):checked
~ .controls5:nth-of-type(1) {
  display: flex;
}

.sections5:nth-of-type(1):checked
~ .visible5
.transition5 {
  transform: translateX(0%);
}

.sections5:nth-of-type(2):checked
~ .controls5:nth-of-type(2) {
  display: flex;
}

.sections5:nth-of-type(2):checked
~ .visible5
.transition5 {
  transform: translateX(-100%);
}

.sections5:nth-of-type(3):checked
~ .controls5:nth-of-type(3) {
  display: flex;
}

.sections5:nth-of-type(3):checked
~ .visible5
.transition5 {
  transform: translateX(-200%);
}

.visible5 {
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
}

.transition5 {
  font-size: 0;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}

.item5 {
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
  white-space: normal;
}

.slider5 {
  color: #000000;
  display: flex;
  font-weight: 100;
  justify-content: center;
  border-radius: 3px;
  font-size: 40px;
  height: 600px;
  width: 100%;
}

.text5{
  position: absolute;
  right: 350px;
  top: 400px;
}
.text6{
  position: absolute;
  right: -570px;
  top: 500px;
}
.text7{
  position: absolute;
  right: -1500px;
  top: 500px;
}

