html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.carousel {
  min-width: 900px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
}

.sections {
  display: none;
}

.controls {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  bottom: 0;
}

.controls:first-of-type {
  justify-content: flex-end;
}

.controls:last-of-type {
  justify-content: flex-start;
}

.controlLooks {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #3d414a;
  border-radius: 100%;
  box-shadow: 0 2px 10px 0 rgba(33, 34, 36, 0.3);
  font-size: 24px;
  height: 48px;
  justify-content: center;
  transition: 0.3s all;
  width: 48px;
  z-index: 1;
}

.sections:nth-of-type(1):checked
~ .controls:nth-of-type(1) {
  display: flex;
}

.sections:nth-of-type(1):checked
~ .visible
.transition {
  transform: translateX(0%);
}

.sections:nth-of-type(2):checked
~ .controls:nth-of-type(2) {
  display: flex;
}

.sections:nth-of-type(2):checked
~ .visible
.transition {
  transform: translateX(-100%);
}

.sections:nth-of-type(3):checked
~ .controls:nth-of-type(3) {
  display: flex;
}

.sections:nth-of-type(3):checked
~ .visible
.transition {
  transform: translateX(-200%);
}

.sections:nth-of-type(4):checked
~ .controls:nth-of-type(4) {
  display: flex;
}

.sections:nth-of-type(4):checked
~ .visible
.transition {
  transform: translateX(-300%);
}

.sections:nth-of-type(5):checked
~ .controls:nth-of-type(5) {
  display: flex;
}

.sections:nth-of-type(5):checked
~ .visible
.transition {
  transform: translateX(-400%);
}

.sections:nth-of-type(6):checked
~ .controls:nth-of-type(6) {
  display: flex;
}

.sections:nth-of-type(6):checked
~ .visible
.transition {
  transform: translateX(-500%);
}

.sections:nth-of-type(7):checked
~ .controls:nth-of-type(7) {
  display: flex;
}

.sections:nth-of-type(7):checked
~ .visible
.transition {
  transform: translateX(-600%);
}

.sections:nth-of-type(8):checked
~ .controls:nth-of-type(8) {
  display: flex;
}

.sections:nth-of-type(8):checked
~ .visible
.transition {
  transform: translateX(-700%);
}

.sections:nth-of-type(9):checked
~ .controls:nth-of-type(9) {
  display: flex;
}

.sections:nth-of-type(9):checked
~ .visible
.transition {
  transform: translateX(-800%);
}

.sections:nth-of-type(10):checked
~ .controls:nth-of-type(10) {
  display: flex;
}

.sections:nth-of-type(10):checked
~ .visible
.transition {
  transform: translateX(-900%);
}

.visible {
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
}

.transition {
  font-size: 0;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}

.item {
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
  white-space: normal;
}

.item1 {
  width: 100%;
}

.item3 {
  width: 33.3333333333%;
}

.slider {
  color: #000000;
  display: flex;
  font-weight: 100;
  justify-content: center;
  border-radius: 3px;
  font-size: 30px;
  height: 250px;
  width: 100%;
}
