body {
	background-repeat: no-repeat;
	background: linear-gradient(to right, white 0%, white 100%);
}

.header{
	display: flex;
	align-items: center;
	position: sticky;
	height: 70px;
	top: 0px;
}

.navUl{
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 60px;
	overflow: hidden;
}

.navLi{	
	float: left;
	padding: 5px 0px 15px 100px;
}

.navLi a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 20px 16px 20px;
	text-decoration: none;
}


.navRight{
	float: right;
}

.footer {
	width:100%;
	background: #1F618D;
	height: 400px;
}

.logo img{
	position: absolute;
	margin-top: 17px;
	margin-left: -35px;
}


*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{ 
    max-width: 1200px;
    margin: 0 auto;
}
.container > h1{
    padding: 20px 0;
}
.cart{
   display: flex;
    }
.products{
   flex: 0.75;
}
.product{
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 20px;
}
.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.product > img{
   width: 300px;
   height: 200px;
   object-fit: cover;
}
.product > img:hover{
   transform: scale(1.04);
}
.product-info{
   padding: 20px;
   width: 100%;
   position: relative;
}
.product-name, .product-price, .product-offer{
   margin-bottom: 20px;
}
.product-remove{
   position: absolute;
   bottom: 20px;
   right: 20px;
   padding: 10px 25px;
   background-color: #1F618D;
   color: white;
   cursor: pointer;
   border-radius: 5px;
}
.product-remove:hover{
   background-color: white;
   color: #1F618D;
   font-weight: 600;
   border: 1px solid #1F618D;
}
.product-quantity > input{
   width: 40px;
   padding: 5px;
   text-align: center;
}
.fa{
   margin-right: 5px;
}
.cart-total{
   flex: 0.25;
   margin-left: 20px;
   padding: 20px;
   height: 240px;
   border: 1px solid silver;
   border-radius: 5px;
}
.cart-total p{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
   font-size: 20px;
}

.cart-total input{
   display: block;
   text-align: center;
   height: 40px;
   line-height: 40px;
   background-color: #1F618D;
   color: white;
   text-decoration: none;
}

.cart-total a{
   display: block;
   text-align: center;
   height: 40px;
   line-height: 40px;
   background-color: #1F618D;
   color: white;
   text-decoration: none;
}
.cart-total a:hover{
   opacity: 0.8;
}
@media screen and (max-width: 700px){
   .remove{
      display: none;
   }
   .product{
      height: 150px;
   }
   .product > img{
      height: 150px;
      width: 200px;
   }
   .product-name, .product-price, .product-offer{
      margin-bottom: 10px;
   }
}
@media screen and (max-width: 900px){
   .cart{
      flex-direction: column;
   }
   .cart-total{
      margin-left: 0;
      margin-bottom: 20px;
   }
}
@media screen and (max-width: 1220px){
   .container{
       max-width: 95%;
    }
}

.row {
   display: -ms-flexbox; /* IE10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE10 */
   flex-wrap: wrap;
   margin: 0 -16px;
 }
 
 .col-25 {
   -ms-flex: 25%; /* IE10 */
   flex: 25%;
 }
 
 .col-50 {
   -ms-flex: 50%; /* IE10 */
   flex: 50%;
 }
 
 .col-75 {
   -ms-flex: 75%; /* IE10 */
   flex: 75%;
 }
 
 .col-25,
 .col-50,
 .col-75 {
   padding: 0 16px;
 }
 

 
 input[type=text] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }
 
 label {
   margin-bottom: 10px;
   display: block;
 }
 
 .icon-container {
   margin-bottom: 20px;
   padding: 7px 0;
   font-size: 24px;
 }
 
 .btn {
   background-color: #04AA6D;
   color: white;
   padding: 12px;
   margin: 10px 0;
   border: none;
   width: 100%;
   border-radius: 3px;
   cursor: pointer;
   font-size: 17px;
 }
 
 .btn:hover {
   background-color: #45a049;
 }
 
 span.price {
   float: right;
   color: grey;
 }