.body {
  background-repeat: no-repeat;
  background: linear-gradient(to right, white 0%, white 100%);
}

.nav {
  overflow: hidden;
  background-color: black;
  padding: 15px;
  z-index: 10;
  width:100%;
  position: fixed;
  margin: -10px;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  margin: 0px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  
}

.nav a:hover {
  background-color: #3b5a80;
  color: white;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.img {
  position: relative;
  right: 8px;
  bottom: 100px;
}

.leftNav{
  float: left;
}

.rightNav{
  float: right;
}

.title{
	font-size: 50px;
	font-weight: 1000;
}

.summary{
	font-size: 40px;
	color: white;
	padding: 4px;
	width: 1000px;
	background-color: #3b5a80;
	box-shadow: 5px 5px 10px #3b5a80
}

.sumText{
	font-size: 30px;
	color: white;
	padding: 4px;
	width: 1000px;
	background-color: #3b5a80;
	box-shadow: 5px 5px 10px #3b5a80
}

.footer {
	width:100%;
	background: #1F618D;
	height: 75px;
}



