.nav {
  overflow: hidden;
  background-color: black;
  padding: 15px
  position: absolute;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  margin: 0px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  
}

.nav a:hover {
  background-color: #3b5a80;
  color: white;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.leftNav{
  float: left;
}

.rightNav{
  float: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

