body {
    margin:0;
    padding:0;
    background:#1F618D;
}

nav {
    width:100%;
    background:black;
    overflow:auto;
}

#navUl {
    padding:0;
    margin: 0 0 0 150px;
    list-style:none;
}

#navLi {
    float:left;
}
.logo img{

   position:absolute;
   margin-top:15px;
   margin-left:10px;
}

.cart img{
   position:absolute;
   margin-top:15px;
   margin-left:1250px;
}


nav a{
   width:200px;
   display: block;
   padding:30px 15px;
   text-decoration:none;
   font-family: Arial;
   color: white;
   text-align: center;

}

nav a:hover {
    background:#1F618D;
    transition: 0.5s;
    text-transform:uppercase;
}
