body {
	background-repeat: no-repeat;
	background: linear-gradient(to right, white 0%, white 100%);
}

.header{
	display: flex;
	align-items: center;
	position: sticky;
	height: 70px;
	top: 0px;
}

.nav {
	width:100%;
	background:black;
	height: 75px;
	position: sticky;
	top: 0;
}

.navUl{
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 60px;
	overflow: hidden;
}

.navLi{	
	float: left;
	padding: 5px 0px 15px 100px;
}

.navLi a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 20px 16px 20px;
	text-decoration: none;
}


.navRight{
	float: right;
}

.footer {
	width:100%;
	background: #1F618D;
	height: 75px;
}

.logo img{
	position: absolute;
	margin-top: 17px;
	margin-left: -35px;
}
