body {
	background-repeat: no-repeat;
	background: linear-gradient(to right, white 0%, white 100%);
}

.title{
	font-size: 50px;
	font-weight: 1000;
}

.summary{
	font-size: 20px;
	color: white;
	padding: 4px;
	width: 1000px;
	background-color: #3b5a80;
	box-shadow: 5px 5px 10px #3b5a80
}

.sumText{
	font-size: 20px;
	color: white;
	padding: 4px;
	width: 1000px;
	background-color: #3b5a80;
	box-shadow: 5px 5px 10px #3b5a80
}

.footer {
	width:100%;
	background: #1F618D;
	height: 300px;
}

.logo img{
	position: absolute;
	margin-top: 17px;
	margin-left: -35px;
}
